    :root {
        --transition-speed: 0.3s;
    }

    .content {
        position: absolute;
        left: 50%;
        top: 40vh;
        transform: translate(-50%, -10vh);
        text-align: center;
        line-height: 20px;
    }

    .textm {
        font-size: min(7em, 20vw);
        font-style: italic;
    }



    #startbutton {
        color: white;
        border-color: var(--green);
        text-decoration: none;
    }


    #startbutton:hover {
        color: rgb(0, 0, 0);
        background-color: var(--green);
    }

