:root {
    --green: rgb(110, 255, 142);
}

body {
    font-family: sans-serif;
    background-color: rgb(20, 20, 20);
    padding: 0;
    margin: 0;
    color:white;
}

footer {
    display: block;
    width: 100%;
    background-color: rgb(17, 17, 17);
    z-index: 9;
}
footer >div{
    display: flex;
}

footer a, a:hover, a:active, a:visited{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 380px){
footer a{
    font-size: 3.5vw;
}
}

.button {
    font-weight: 500;
    margin-top: 5px;
    border-radius: 10px;
    padding: 7px;
    background-color: rgba(255, 222, 173, 0);
    border: 2px solid;
    -webkit-transition: background-color var(--transition-speed) ease-out;
    -moz-transition: background-color var(--transition-speed) ease-out;
    -o-transition: background-color var(--transition-speed) ease-out;
    transition: background-color var(--transition-speed) ease-out;
}