<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ab880f6949.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    {% block body%}{% endblock %}
    <footer>
        <div style="padding: 10px;">

                <a href="https://github.com/LandChit?tab=repositories" , target="_blank"><i class="fa-brands fa-github"></i>LandChit</a>
                <a href="https://www.youtube.com/channel/UCFTq9afPWgOwQRBfr4KRJtw" , target="_blank"><i class="fa-brands fa-youtube"></i>LandChit</a>
                <a href="https://twitter.com/LandChit" , target="_blank"><i class="fa-brands fa-twitter"></i>LandChit</a>
            </div>
            
        </div>
    </footer>
</body>

</html>