{% extends 'base.html' %}



{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Reviewer</title>
{% endblock %}

{% block body %}
    <div class="content">
        <span class="textm">Reviewer</span><span class="textm" style="color:var(--green)">+</span><br>
        <span>EZ GRADES</span><br>
        <button id="createbutton" class="button">Create New</button>
        <label class="button loadbutton">
            <input type="file" id="loadbutton" />
            Load
        </label>
        

        <!-- About -->
        <div class="about">
            <p>This website was made to help people who are struggling to study by them selves, This website helps you memorise</p>
        </div>
    
        <!-- Create -->
        <div class="create popup">
    
        </div>
    </div>
    
{% endblock %}